* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #0b0218;
  color: #fff;
  line-height: 1.6;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 16px;
}

/*     Navbar    */
.navbar {
  background: #120428;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 10;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 28px;
  font-weight: 700;
}

.logo span {
  color: #ff4ecd;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.menu a:hover {
  color: #ff4ecd;
}

.btn-subscribe {
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));;
  padding: 8px 18px;
  border-radius: 10000px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  transition: all 0.25s ease;
}

.btn-subscribe .arrow {
  display: inline-block;
  transition: transform 0.25s ease;
}

.btn-subscribe:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(255, 78, 205, 0.4);
}

.btn-subscribe:hover .arrow {
  transform: translateX(4px);
}

.btn-subscribe:active {
  transform: scale(0.96);
}

/* Hamburger */
#nav-toggle {
  display: none;
}

.hamburger {
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

/* Hamburger toggle menu */
#nav-toggle:checked~.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  background: #120428;
  padding: 16px;
  text-align: center;
  gap: 12px;
}


/*  Banner Section */
.Banner {
  position: relative;
  min-height: 100vh;
  background: url("../assets/hero-bg.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Banner-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.Banner-content {
  position: relative;
  z-index: 2;
  max-width: 700px;
  padding: 20px;
}

.mic-wrap {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 0 auto 24px;
}

.circle {
  width: 100%;
  height: 100%;
}

.mic-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  transform: translate(-50%, -50%);
}

.new-badge {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #00ff88;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

.title {
  font-size: 60px;
  margin-bottom: 12px;
}

.subtitle {
  color: #ccc;
  margin-bottom: 24px;
}

.Banner-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.Banner-buttons a {
  display: flex;
  align-items: center;
  text-decoration:none;
  font-size: 16px;
  gap: 8px;
  padding: 12px 20px;
  border-radius: 24px;
  font-weight: 600;
  color: #ffff;
}

.btn-primary {
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
  transition: all 0.25s ease;
  
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(255, 78, 205, 0.4);
}
.btn-outline {
  border: 1px solid #00ff88;
  color: #00ff88;
  
}



.about {
  gap: 16px;
  padding: 50px 16px;
  text-align: center;
}

.about h2 {
  font-size: 48px;
 
}

.about p {
  opacity: 0.8;
  line-height: 20px;
  font-size: 16px;
  color: #ffffff;
  max-width: 600px;
  margin: 0 auto 40px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.stat {
  font-weight: 900;
  line-height: 58px;
  font-size: 48px;
  color: #00ff88;
}




/* Why Choose Section */
.why-choose{
 background: rgba(35, 14, 61, 1);
 padding: 120px 120px;
 
 
}

.why-choose h2{
 
  font-size: 48px;
  font-weight: 700;
  line-height:58px ;
  text-align: center;
  padding: 20px ;
}


.grid-container {
 
  margin: 0 auto;
  max-width: 1100px;
  min-height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,200px);
  gap: 30px;
}
 
.feature-card{
 background: rgba(53, 17, 101, 0.4);
 border-radius: 40px;
 text-align: left;
 

}
.feature-card-1 {
  grid-row: 1/span 2;
  padding: 40px;
}
  

.feature-card-2 {
  grid-column: 2/span 2;
  padding: 40px;
}
  

.feature-card-3 {
  grid-column: 2/span 2;
  padding: 40px;

}
  

.feature-card-4 {
  grid-column: 1/span 2;
  padding: 40px;
}

.feature-card-5{
  padding: 40px;
  font-size: 16px;

 
}


  


  


.feature-card img {
  width: 50px;
  height: 50px;
 
}

.feature-card h3 {
  font-size: 20px;
  margin-bottom: 12px;
}

.feature-card p {
  font-size: 16px;
  color: #ffff;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(255, 78, 205, 0.3);
}



/* Featured Episodes Section */




.featured {
  padding: 60px 0;
}

.featured h2 {
  text-align: center;
  margin-bottom: 40px;
}

.episode-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.episode-card {
  background: #120428;
  padding: 16px;
  border-radius: 16px;
  transition: transform 0.3s ease;
}

.episode-card:hover {
  transform: translateY(-6px);
}

.thumb {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.thumb img {
  width: 100%;
  display: block;
}



.thumb .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background:var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
  
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, background 0.3s ease;
}

.thumb .play img {
  width: 100%;
}

.episode-card h3 {
  margin: 16px 0 8px;
  font-size: 18px;
}

.episode-card p {
  font-size: 14px;
  opacity: 0.8;
}

.time {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 10px;
  font-size: 14px;
}




.host {
  padding: 80px 16px;
}

.host h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 50px;
}

.host-wrapper {
  padding: 40px;
  background: rgba(53, 17, 101, 0.4);
  display: flex;
  align-items: center;
  gap: 40px;
}

.host-image img {
  width: 200px;
  height: 200px;
  border-radius: 24px;
  object-fit: cover;
}

.host-info h2 {
  font-size: 32px;
  margin-bottom: 12px;
}

.host-info p {
  text-align: left;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.social-links {
  display: flex;
  gap: 14px;
}

.social-links img {
  width: 28px;
  transition: transform 0.2s ease;
}

.social-links a:hover img {
  transform: translateY(-4px);
}



.footer {
background-image: url(/assets/hero-bg.png);
 
  background-repeat: no-repeat;
 
  background-size: cover;
 
  background-position: center;

  background-attachment: scroll;
  background-position: center center ;
    

  color: #fff;
  padding: 60px 16px
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/* Brand Heading */
.footer-brand h2 {
 
  height: 60px;
  font-size: 42px;
  margin-bottom: 24px;
 
  
}

.logo-brand span {
  color: #ff4ecd;
}

/* Platform Links */
.footer-brand a {
  display: inline-flex;
  align-items: center;
  gap: 40px;
  margin: 8px 12px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.footer-brand a img {
  width: 24px;
  height: 24px;
}

/* Hover effect for links */
.footer-brand a:hover {
  color: #ff4ecd;
  /* highlight color on hover */
  transform: translateY(-2px);
}

/* Copyright */
.footer-copy {
  margin-top: 40px;
  font-size: 14px;
  opacity: 0.8;
}










/* Small Devices: ≤576px */
@media (max-width: 576px) {
  .menu {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .btn-subscribe {
    display: none;
  }

  .stats {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .Banner-content {
    padding: 16px;
  }

  .mic-wrap {
    width: 140px;
    height: 140px;
  }

  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 14px;
  }

  .Banner-buttons {
    flex-direction: column;
    gap: 10px;
  }



.why-choose {
  padding: 60px 16px;
}

.why-choose h2 {
  font-size: 28px;
  line-height: 36px;
  padding: 0 0 20px 0;
}

.grid-container {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 16px;
}

.feature-card-1,
.feature-card-2,
.feature-card-3,
.feature-card-4,
.feature-card-5 {
  grid-column: auto;
  grid-row: auto;
  padding: 20px;
}

.feature-card h3 {
  font-size: 18px;
}

.feature-card p {
  font-size: 14px;
}









.featured {
  padding: 40px 16px;
}

.featured h2 {
  font-size: 28px;
  margin-bottom: 24px;
}

.episode-grid {
  grid-template-columns: 1fr;
  gap: 16px;
}

.episode-card {
  padding: 14px;
}

.episode-card h3 {
  font-size: 16px;
}

.episode-card p {
  font-size: 13px;
}

.thumb .play {
  width: 50px;
  height: 50px;
}

.time {
  font-size: 12px;
}


  





.host h1 {
  font-size: 32px;
  margin-bottom: 24px;
}

.host-wrapper {
  flex-direction: column;

  gap: 20px;
  text-align: center;
}

.host-image img {
  width: 180px;
}

.host-info h2 {
  font-size: 24px;
}

.host-info p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 16px;
}

.social-links {
  justify-content: center;
  gap: 12px;
}

.social-links img {
  width: 24px;
}




.thumb .play {
  width: 50px;
  height: 50px;
}

.thumb .play img {
  width: 70%;
}



  .footer {
    background-position: center center; 
    padding: 40px 16px;
  
}


 
}









